<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs207.boilerWiki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".BoilerWikiActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BoilerWikiActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Academic"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ACADEMIC" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Entertainment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ENTERTAINMENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Food"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FOOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Housing"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HOUSING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Myprofile"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MYPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.NEWS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>